<div ng-controller="TaskCtrl">
  <h1>ToDo</h1>

  <form ng-submit="save(activeTask)">
    <input
      placeholder="I have to do ..."
      ng-model="activeTask.title"
      autofocus />
  </form>

  <div ng-show="tasks.length" ng-cloak>
    <ul>
      <li ng-repeat="task in tasks">
        <div>
          <input
            type="checkbox"
            ng-model="task.completed"
            ng-click="toggleCheck(task)">
          <label ng-dblclick="edit(task)" ng-class="{strike: task.completed}">{{task.title}}</label>
          <button class="btn btn-sm btn-danger" ng-click="delete(task)">x</button>
        </div>
      </li>
    </ul>
  </div>
</div>