@import "bootstrap";

ul {
	list-style: none;
	padding-left: 0;
}

footer {
	width: 640px;
	margin: 0 auto;
}

.todo-list {
	background-color: #FFFFCC;
	border: 1px solid black;
	width: 640px;
	height: auto;
	margin: 0 auto;
	padding: 8px;

	.title {
		text-align: center;
	}

	.input-todo {
		width: 360px;
		margin: 0 auto;

		input {
			width: 100%;
		}
	}

	.task-list {
		padding: 8px;

		li{
			border-bottom: 1px solid #707070;
			padding: 0;
		}

		li:first-child {
			border-top: 1px solid #707070;
		}

		.task-entry {
			display: -webkit-flex; /* Safari */
			display: flex;

			label {
				margin: 0;
				padding: 8px;
				font-size: 24px;
				color: #707070;
				width: 502px;
			}

			.checkbox {
				display: -webkit-flex; /* Safari */
				display: flex;
				-webkit-flex: 1;  /* Safari 6.1+ */
	    	-ms-flex: 1;  /* IE 10 */
	    	flex: 1;
				margin: 0;
				padding: 0;
				float: right;
				width: 60px;
				/*border-left: 1px solid #707070;*/
				padding: 8px;

				.checkbox-btn {
					border: 0;
					width: 100%;
					background: image-url('checkbox.png');
					background-size: contain;
					background-repeat: no-repeat;
				}

				.checkbox-btn:hover {
					border: 0;
					width: 100%;
					background: image-url('checkbox_hover.png');
					background-size: contain;
					background-repeat: no-repeat;
				}
			}

			.trashbin {
				display: -webkit-flex; /* Safari */
				display: flex;
				-webkit-flex: 1;  /* Safari 6.1+ */
	    	-ms-flex: 1;  /* IE 10 */
	    	flex: 1;
				margin: 0;
				padding: 0;
				float: right;
				width: 60px;
				/*border-left: 1px solid #707070;*/
				padding: 8px;

				.trashbin-btn {
					border: 0;
					width: 100%;
					background: image-url('trashbin.png');
					background-size: contain;
					background-repeat: no-repeat;
				}

				.trashbin-btn:hover {
					border: 0;
					width: 100%;
					background: image-url('trashbin_hover.png');
					background-size: contain;
					background-repeat: no-repeat;
				}
			}
		}
	}
}

.complete {
  text-decoration: line-through;
  color: #C8C8C8 !important;
}